<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>154831027377-8skie7neu7kk06sli5f2poe083c6hfkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.154831027377-8skie7neu7kk06sli5f2poe083c6hfkt</string>
	<key>API_KEY</key>
	<string>AIzaSyB3Em1WVYW_z1dFBKykKNRXtYQn0UL0tOM</string>
	<key>GCM_SENDER_ID</key>
	<string>154831027377</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>khayashida.stomatitisMap</string>
	<key>PROJECT_ID</key>
	<string>stomatitismap</string>
	<key>STORAGE_BUCKET</key>
	<string>stomatitismap.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:154831027377:ios:2868ccf02ea724da</string>
	<key>DATABASE_URL</key>
	<string>https://stomatitismap.firebaseio.com</string>
</dict>
</plist>